<!DOCTYPE html>
<html lang="es" ng-app="ConversorMonedas">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ejercicio 7 de la PEC1</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainController as ctrl">
	<div class="container">
		<header class="page-header">
			<h1>Conversor de monedas <small>Ejercicio 7 de la PEC1</small></h1>
		</header>
		<section class="row"> 
			<ul class="list-group col-xs-12 col-sm-6">
				<li class="list-group-item">
					<label class="label-control" for="cantidad">Introduce una cantidad y una moneda de origen</label>
					<input type="text" id="cantidad" class="form-control" value="" ng-change="convierte()" ng-model="cantidad" ng-init="1">
					<input type="radio" id="monedasOrig" value="EUR" ng-change="convierte()" ng-model="monedasOrig"> Euro
					<input type="radio" id="monedasOrig" value="USD" ng-change="convierte()" ng-model="monedasOrig"> Dolar
					<input type="radio" id="monedasOrig" value="GBP" ng-change="convierte()" ng-model="monedasOrig"> Libra Esterlina 
				</li>
				<li class="list-group-item">
					<label class="label-control">Conversi&oacute;n a la moneda de destino</label>
					<input type="radio" id="monedasDest" value="EUR" ng-change="convierte()" ng-model="monedasDest"> Euro
					<input type="radio" id="monedasDest" value="USD" ng-change="convierte()" ng-model="monedasDest"> Dolar
					<input type="radio" id="monedasDest" value="GBP" ng-change="convierte()" ng-model="monedasDest"> Libra Esterlina 
					<p class="text-success"><strong>El Resultado de la conversi&oacute;n es: <span ng-bind="resultado"></span></strong></p>
				</li>
			</ul>
		</section>
	</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Bootstrap compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="js/all.min.js"></script>
</body>
</html>